<% provide(:title, 'About Us') %>
<h1>About Repeating Task</h1>
<p>
  This web app is designed to help keep track of tasks that repeat.  The idea is that 
  tasks that haven't been done for awhile will float to the top while tasks that were 
  completed recently will sink to the bottom of the list.  Where tasks end up in the 
  list will be controlled by when task was completed, how often it should be completed,
  and how important the task is.  
</p>