<div class="center hero-unit">
  <h1>Welcome to the Repeating Tasks App</h1>

  <h2>
    This is the home page for Repeating tasks.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>


